<h1>注文履歴詳細Admin::Order#index</h1>
<p>Find me in app/views/admin/order/index.html.erb</p>

<p>購入者</p><%= @order.customer.last_name %><%= @order.customer.first_name %>
<p>注文日</p><%= @order.created_at.strftime("%Y-%m-%d %X")%>
<p>配送先</p><%= @order.address %></br><%= @order.address %>
<p>支払方法</p><%= @order.payment_method_i18n %>
<p>注文ステータス</p>
<%= form_with model: @order, url: public_orders_path(@order.id) do method: :patch |f| %>
  <%= f.select :status, Order.status.map { |k, v| [t(orders.status.#{k}), v] %>
  <%= f.submit '更新'%>
<% end %>



<table>
  <thead>
   <th>商品名</th>
   <th>単価(税込)</th>
   <th>数量</th>
   <th>小計</th>
   <th>制作ステータス</th>
  </thead>
  <tbody>
  <% @order.order_details.each do |order_detail| %>
   <tr>
    <td>
     <%=link_to admin_customer_path(order.id) do %>
      <%= order_detail.item.name %>
     <% end %>
    </td>
    <td><%= order_detail.item.with_tax_price %></td>
    <td><%= order_detail.amount %></td>
    <td><%= order_detail.subtotal %></td>
    <td><%= order_detail.making_status %>
     <%= form_with model: @order, url: admin_order_path(@order.id) do |f| %>
      <%= f.select :status, Order.making_status.map { |k, v| [t(order_detail.making_status.#{k}), v] %>
      <%= f.submit '更新'%>
     <% end %>
    </td>
   </tr>
  <% end %>
  </tbody>
 </table>

 <p>商品合計</p><p><%= @order.total_payment - @order.shipping_cost %></p>
 <p>配送料</p><p><%= @order.shipping_cost %></p>
 <p>ご請求額</p><p><%= @order.total_payment %></p>

