<h1>Admin::Items#show</h1>
<p>Find me in app/views/admin/items/show.html.erb</p>

<h4>商品詳細</h4>
<%= form_with model: @item, url: edit_admin_item_path(@item.id) do |f| %>
 <p>商品名</p><%= @item.name %>
 <p>商品説明</p><%= @item.introduction %>
 <p>ジャンル</p><%= @genre.name %>
 <p>税込価格</br>(税抜価格)</p><%= @item.price %><P>円</P>
 <p>販売ステータス</p>
  <% if @item.is_active %>
   <p>販売中</p>
  <% else %>
   <p>販売停止中</p>
  <% end%>

 <%= f.submit '編集する' %>
<% end %>