
<p>ようこそ、ながのCAKEへ！</br>
このサイトは、ケーキ販売のECサイトになります。</br>
会員でない方も商品の閲覧はできますが、</br>
購入には会員登録が必要になります。</p>

<h2>新着商品</h2>

<% @items.last(4).each do |item| %>
 <% if item.image.attached? %>
    <%= image_tag item.image, size: "200x200" %>
  <% else %>
    <%= image_tag 'no_image', size: "200x200" %>
  <% end %>

 <p>
  <%= link_to public_item_path(item.id) do %>
   <%= item.name %>
  <% end %>
 </p>

 <p>¥<%= item.price %></p>

<% end %>