<h1>会員一覧Admin::Customers#index</h1>
<p>Find me in app/views/admin/customers/index.html.erb</p>

<% @customers.each do |customer| %>
 <p>会員ID</p><%= customer.id %>
 <p>氏名</p>
 <%= link_to admin_customer_path(customer.id) do %>
  <%= customer.last_name %><%= customer.first_name %>
 <% end %>
 <p>メールアドレス</p><%= customer.email %>
 <p>ステータス</p>
  <% if customer.is_deleted %>
   <p>退会</p>
  <% else %>
   <p>有効</p>
  <% end %>

<% end %>