<h3>ジャンル一覧・追加</h3>

<h1>Admin::Genres#index</h1>
<p>Find me in app/views/admin/genres/index.html.erb</p>

<%= form_with model: @genre_new, url: admin_genres_path do |f| %>
 <p>ジャンル名
 <%= f.text_field :name %>
 <%= f.submit '新規登録' %></p>
<% end %>

<h4>ジャンル</h4>

<% @genres.each do |genre| %>
 <%= form_tag("/posts/#{genre.id}/update") do %>
  <%= genre.name %>
  <input type="submit" value="編集する">
  </br>
 <% end %>
<% end %>